body{background-color: palegoldenrod;}
h1{
    color: grey;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    font-family: Sukhumvit set, Arial, sans-serif;
}
h2 {
    font-size: 35px;
    text-align: center;
    font-family: Sukhumvit set, Arial, sans-serif;
    text-decoration: underline;
}
h3 {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
}
