body{
    background-color: rgb(247, 220, 186);
}

h1{
    font-family: sukhumvit set;
    text-align: center;
    color: rgb(124, 124, 124);
}

img{
    width: 200px;
    height: 200px
}

.button{
    background-color: rgba(211, 169, 90, 0.644);
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 30px;
    margin: 4px 2px;
    border-radius: 15px;
    box-shadow: #7a4d22;
}