body {
    background-color: rgb(247, 223, 227);
    background-repeat: no-repeat;
    background-size: 80%;
}
h1 {
    color: rgb(168, 168, 168);
    font-family: sukhumvit set;
    text-shadow: 2px 2px 4px #faf7f7;
    text-align: center;
}

td{
    background-color: rgba(248, 180, 180, 0.589);
    align-content: center;
    font-family: sukhumvit set;
    font-size: 15px;
    text-align: center;
    height: 50px;
    width: 100px;
}


